# Mapeamento do Caio (caioflmjr)
caioflmjr <caioflmjr@gmail.com> Caio Martins <caioflmjr@gmail.com>
caioflmjr <caioflmjr@gmail.com> Caio Martins <67447767+caioflmjr@users.noreply.github.com>
caioflmjr <caioflmjr@gmail.com> Caio <caio@lextrack.gov.br>
caioflmjr <caioflmjr@gmail.com> Caio (Gemini CLI) <caio@lextrack.gov.br>
caioflmjr <caioflmjr@gmail.com> LexTrack Agent <agent@lextrack.com>

# Mapeamento do Kaiky (kaiky-yun)
kaiky-yun <yunkaikyyun@gmail.com> Kaiky M Yun <yunkaikyyun@gmail.com>
kaiky-yun <yunkaikyyun@gmail.com> Kaiky Moreira Yun <127952063+kaiky-yun@users.noreply.github.com>

# Mapeamento do Bernardo (bernardoccs1)
bernardoccs1 <becaxito@gmail.com> Bernardo <bernardocamposcs@gmail.com>
bernardoccs1 <becaxito@gmail.com> unknown <becaxito@gmail.com>
