# --- Banco de Dados (PostgreSQL) ---
POSTGRES_DB=monitor_db
POSTGRES_USER=app_user
POSTGRES_PASSWORD=altere_esta_senha_no_seu_env
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# --- Interface (pgAdmin) ---
PGADMIN_DEFAULT_EMAIL=dev@projeto.local
PGADMIN_DEFAULT_PASSWORD=admin_password
